.photo1 {
  position: fixed;
  top: 170px;
  left: 190px;
  width: 250px;
  height: 180px;
  background-color: lightblue;
}

.photo2 {
  position: fixed;
  top: 170px;
  left: 500px;
  width: 250px;
  height: 180px;
  background-color: lightblue;
}

.photo3 {
  position: fixed;
  top: 170px;
  left: 800px;
  width: 250px;
  height: 180px;
  background-color: lightblue;
}

.photo4 {
  position: fixed;
  top: 170px;
  left: 1100px;
  width: 250px;
  height: 180px;
  background-color: lightblue;
}

.photo5 {
  position: fixed;
  top: 400px;
  left: 190px;
  width: 250px;
  height: 180px;
  background-color: lightblue;
}

.photo6 {
  position: fixed;
  top: 400px;
  left: 500px;
  width: 250px;
  height: 180px;
  background-color: lightblue;
}

.photo7 {
  position: fixed;
  top: 400px;
  left: 800px;
  width: 250px;
  height: 180px;
  background-color: lightblue;
}

.photo8 {
  position: fixed;
  top: 400px;
  left: 1100px;
  width: 250px;
  height: 180px;
  background-color: lightblue;
}

a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.page {
  position: fixed;
  padding-top: 630px;
  padding-left: 31%;
}

.page .num:hover{
  background-color: lightgray;
  color:white;
}

.paging-div {
  padding: 15px 0 5px 10px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a.num {
  color: black;
}

a.first {
  color: black;
}

a.last {
  color: black;
}